<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="false"
    cacheTokens="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    printerClass="PHPUnit\TextUI\ResultPrinter"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="true">

    <!-- Acceptance Tests -->
    <testsuites>
        <testsuite name="Capsule CRM Api Wrapper tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <!-- Code Coverage -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>src/config</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./report/report" lowUpperBound="35"
            highLowerBound="70"/>
        <log type="coverage-clover" target="./report/coverage.xml"/>
        <log type="coverage-php" target="./report/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="junit" target="./report/logfile.xml"/>
        <log type="testdox-html" target="./report/testdox.html"/>
        <log type="testdox-text" target="./report/testdox.txt"/>
    </logging>
    <!-- Environment Variables -->
    <php>
        <const name="API_KEY" value="89cDjjYk3ogEX0P/NQnPkpH0vpxeKIZIto7u/LZx1ET0oTQVBkL21yjOB6ddGIob" />
    </php>
</phpunit>