<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
    backupGlobals="true"
    backupStaticAttributes="false"
    cacheTokens="false"
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    printerClass="PHPUnit\TextUI\ResultPrinter"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    verbose="true">

    <!-- Acceptance Tests -->
    <testsuites>
        <testsuite name="Capsule CRM Api Wrapper tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <!-- Environment Variables -->
    <php>
        <const name="API_KEY" value="89cDjjYk3ogEX0P/NQnPksFxAPYkspNMIhpWVNG0PoiQUriP8AHpCSynyVXVZ7/f" />
    </php>
</phpunit>